apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: tools
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  project: default
  source:
    chart: prometheus
    helm:
      values: |
        pushgateway:
          enabled: true
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 13.8.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true