argo-cd:
  dex:
    enabled: false
  server:
    extraArgs:
      - --insecure
      # - --rootpath
      # - /
    ingress:
      enabled: true
      hosts:
        - argocd.local.env
      paths:
        - /
      # https: true
configs:
  secret:
  #   # Argo expects the password in the secret to be bcrypt hashed. You can create this hash with
  #   # `htpasswd -nbBC 10 "" $ARGO_PWD | tr -d ':\n' | sed 's/$2y/$2a/'`
    argocdServerAdminPassword: $2a$10$PDotOyErFLwxvk/Uijoy6e4NLX1Z8C0gaTMgEYosq77s1BHELUvA6
  #   # Password modification time defaults to current time if not set
  #   argocdServerAdminPasswordMtime: "2006-01-02T15:04:05Z"
  repositories:
    stable-helm-repo:
      url: https://charts.helm.sh/stable
      name: stable
      type: helm
    argo-cd-repo:
      url: https://argoproj.github.io/argo-helm
      name: argo-cd
      type: helm